.articleslist{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: var(--text-2xl) /* 1.5rem = 24px */;
  line-height: var(--tw-leading, var(--text-2xl--line-height));
}
.articleslist:hover{
  background: #e5e5e5;
}