.ChooseCommunity-list_item{

  height: 2rem;
  cursor: pointer;
  text-justify: center;
  display: flex;
  justify-items: center;
  align-items: center;
}
.ChooseCommunity-list_item:hover{

  background: #e5e5e576;
  
}